header {

    height: 80px;
}
.nav{
    padding: 0 50px;
    height: 100px;
    background-color: white;
    display: flex; 
  
    align-items: center; 
}
.menu{
    list-style: none;
    height: 100%;
    display: flex; 
    align-items: center; 
}
.logo{
    color: rgb(247, 247, 247);
    font-size: 40px;
    text-decoration: none;
}
a {
    list-style: none;
    text-decoration: none;
}
.menu-link{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    margin-left: 20px; 
    font-family: 'Montserrat';
    font-family: sans-serif;
font-style: normal;
font-weight: 400;
color: #2F281E;



}
.menu-link:hover {
    font-family: 'Montserrat';
    font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #FF9900;

}


.logo {
    color:  black;
    font-weight: bold;
    font-family: sans-serif;
}
.logo-div {
    margin-left: 80px;
    margin-right: 50px;
}
.header-menu-div {
    margin-right: 130px;
    margin-left: 130px;
}
.header-button-div {
    margin-right: 70px;
    margin-left: 30px;
   

}
.signin {
    text-decoration: none;
    height: 40px;
    width: 110px;
    margin-right: 20px;
    color: black;
    background-color: white;
    font-family: sans-serif;
    border: 1px solid aqua;
    border-radius: 5px;
    

}
.signin:hover {
    text-decoration: none;
    height: 40px;
    width: 110px;
    color: white;
    background-color: #FF9900;
    border: 1px solid #FF9900;
   border-radius: 5px;
}
.signup {
    text-decoration: none;
    height: 40px;
    width: 110px;
    margin-right: 20px;
    color: black;
    background-color: white;
    font-family: sans-serif;
    border: 1px solid aqua;
    border-radius: 5px;

}
.signup:hover {
    text-decoration: none;
    height: 40px;
    width: 110px;
    color: white;
    background-color: #FF9900;
    border: 1px solid #FF9900;
   border-radius: 5px;
}
.section-div {
    margin-top: 50px;
    display: flex;
}
.main-text-div {
    width: 505px;
   
    margin-left: 150px;
    margin-top: 70px;
}

.photodiv {
    width: 500;
}
.design-title {
    font-family: 'Montserrat';
    font-family: sans-serif;
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 54px;
/* or 123% */


color: #2F281E;
}
p {
    font-family: 'Montserrat';
    font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;



color: #544837;
 margin-top: 20px;
 margin-bottom: 20px;

}
.button-text {
    margin-top: 20px;
    
}
.getstarted {
    text-decoration: none;
    height: 40px;
    width: 150px;
    margin-right: 20px;
    color: black;
    background-color: white;
    font-family: sans-serif;
    border: 1px solid aqua;
    border-radius: 5px;
    font-family: sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

text-align: center;


}
.getstarted:hover {
    text-decoration: none;
    height: 40px;
    width: 150px;
    color: white;
    background-color: #FF9900;
    border: 1px solid #FF9900;
   border-radius: 5px;
}
.title-div {
    display: flex;
    justify-content: center;
    text-align: center;
}
.title {
    margin-top: 50px;
    font-family: sans-serif;
}
.subtitle {
    font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 156% */


color: #544837;
}

.iconssection {
 width: 100px;
 height: 100px;


}
.parent-icon-div {
    display: flex;
  justify-content: space-around;
  width: 1200px;
  margin-left: 120px;
  margin-top: 10px;
    
}
.firstspan {
   display: inline-block;
    font-family: 'Montserrat';
    font-family: sans-serif;
font-style: normal;
font-weight: 600;
font-size: 22px;

margin-top: 10px;


color: #2F281E;
}
.secondspan {
    display: inline-block;
    margin-top: 10px;
    font-family: 'Montserrat';
    font-family: sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;



color: #544837;

}
.section-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.signupnow {
    text-decoration: none;
    height: 40px;
    width: 150px;
    margin-right: 20px;
    color: black;
    background-color: white;
    font-family: sans-serif;
    border: 1px solid aqua;
    border-radius: 5px;
}
.signupnow:hover{
    text-decoration: none;
    height: 40px;
    width: 150px;
    color: white;
    background-color: #FF9900;
    border: 1px solid #FF9900;
   border-radius: 5px;

}
.gradient {
    height: 500px;
   position: relative;

}
.gradient::after {
    content: "";
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    transform: translate(-50, -50);
    top: 50%;
    left: 50%;
    
    background: linear-gradient(179.61deg, rgba(255, 229, 210, 0.629261) 0.33%, rgba(255, 244, 229, 0.0001) 99.67%);
}
.background-image-section {
    background-image: url(img/bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1700px;
    padding-bottom: 200px;
}
hr {
     
    width: 100%;
    margin: 0px;
    border: 1px solid #BCD0E5;
  border-bottom-width: 0;
}
.footer-main {
    display: flex;

margin: 50px 200px;

}
.footer-productly {
    display: flex;
}
.productly {
    display: inline-block;
    margin-left: 10px;
    margin-top: 1px;
    font-family: sans-serif;
}
.menu-footer {
    list-style: none;
    margin-left: 75px;
}
.quick-links {
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
    margin-left: 110px;
    font-family: sans-serif;
}
.legal-stuff {
    margin-top: 1px;
    margin-left: 110px;
    font-family: sans-serif;
}
.menu-footer__element {
    margin: 15px 0px ;
    font-family: sans-serif;
}
input {
    width: 160px;
}
.feedback-title {
    margin: 1px;
    margin-left: 100px;
    font-family: sans-serif;

}
.footer-feedback {
   padding-top: 0px;
   font-family: sans-serif;
}
.input-div {
    margin-top: 10px;
    margin-left: 100px;
    margin-top: 15px;
    font-family: sans-serif;
}
.button-div {
    margin-top: 15px;
    margin-left: 100px;
}
.input {
    width: 270px;
    height: 30px;
    color: orange;
    border: 1px solid 
    #BCD0E5;
    font-family: sans-serif;
   
}
input::placeholder {
    color: #BCD0E5;
    font-family: sans-serif;
}
.signup-button {
    text-decoration: none;
    width: 180px;
    height: 50px;
    margin-right: 20px;
    color: black;
    background-color: white;
    font-family: sans-serif;
    border: 1px solid aqua;
    border-radius: 5px;
}
.signup-button:hover {
    width: 180px;
    height: 50px;
    color: white;
    background-color: #FF9900;
  
    border: 1px #FF9900;
    border-radius: 4px;;
}
